
@font-face {
    font-family: 'Arial';
    font-weight: normal;
    font-style: normal;
    }

/* Perhaps once based upon Paul Lloyd's reset stylesheet: http://barebones.paulrobertlloyd.com/_css/reset.css */

@-ms-viewport {
	width: device-width;
  }

@viewport {
	width: device-width;
  }

section, nav, article, aside, hgroup, header, footer, main,
img, figure, figcaption, details, menu {
	display: block;
  }

audio, video, canvas {
	display: inline-block;
  }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }

body {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 1.0em; /* Note 1.0em = 16px */
	line-height: 1; /* 16px */
	text-rendering: optimizeLegibility;
	margin: 0 auto;
	padding: 0;
  }

h1 {
	font-weight: 700;
	font-size: 2em;
	line-height: 1;
	margin-top: 1em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
   -webkit-font-smoothing: antialiased;
  }

h2,
article > h1,
section > h1,
nav > h1 {
	font-weight: 700;
	font-size: 1.6em;
	line-height: 1;
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
   -webkit-font-smoothing: antialiased;
  }

p, pre, blockquote, ul, ol, dl, figure, figcaption, table, fieldset, details {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0.5em 0; /* 8px 0 */
    }

ol {
	list-style-type: decimal;
	padding: 0;
    }

ul {
	list-style-type: square;
	padding: 0;
	}

ul li li {
	list-style-type: circle;
    }

dt {
	font-size: 1em; /* 16px */
	font-weight: 700;
	line-height: 1.5; /* 24px */
    }

dd, li {
	margin-left: 1em; /* 16px */
	}

dd > *, li > * {
	margin-top: 0;
    }

figcaption {
	color: #999;
	font-size: 0.75em; /* 12px */
	line-height: 1.3334; /* 16px */
	padding: 0.6667em 0; /* 8px 0 */
	clear: left;
    }

blockquote + figcaption: before {
	content: "\2014";
    }

a {
	color: #b3002d;
	text-decoration: none;
	/*border-bottom: 1px solid rgba(179, 0, 45, 0.2); why was this? */
	}

a:focus {
	outline: 1px solid rgba(179, 0, 45, 0.5);
    }

a:hover {
	color: #b3002d;
	border-bottom-color: rgba(179, 0, 45, 0.5);
    }

a:link, a:visited, a:hover {
	transition: all 0.2s ease;
    }

a:active {
	color: #d25;
	border-bottom: 1px solid rgba(179, 0, 45, 0.5);
	transition: none;
    }

em, i, cite, var {
	font-style: italic;
	line-height: 90%;
    }

strong, b {
	color: #333;
	font-weight: 700;
	line-height: 90%;
    }

small {
	color: #666;
	font-size: 0.75em; /* 12px */
	line-height: 1.3334; /* 16px */
	display: inline-block;
    }

abbr {
	color: #666;
	font-size: 0.875em; /* 14px */
	line-height: 90%;
	letter-spacing: 0.0357em; /* 0.5px */
    }

abbr[title],
dfn[title] {
	border-bottom: 1px dotted rgba(0,0,0,0.3);
	cursor: help;
    }

sub {
	font-size: smaller;
	line-height: 90%;
	vertical-align: sub;
    }

sup {
	font-size: smaller;
	line-height: 90%;
	vertical-align: super;
    }

mark,
ins {
	background-color: #fff9d9;
	line-height: 90%;
	padding: 0 0.125em; /* 0 2px */
	}

ins {
	background-color: #e9e9e9;
    }

del, s {
	line-height: 90%;
	text-decoration: line-through;
    }

img {
	border: 0;
	max-width: 100%;
    }

@media print {

	@page {
		margin: 0.5cm;
	    }

	* {
		background: transparent !important;
		color: #000 !important;
		text-shadow: none !important;
		box-shadow: none;
	    }

	p, h1, h2, h3 {
		orphans: 3;
		widows: 3;
	    }

	h1, h2, h3, h4 {
		page-break-after: avoid;
	    }

	blockquote {
		border-left: 4px solid #ccc;
		padding: 0 1em;
		page-break-inside: avoid;
	    }

	a, a:visited {
		color: #000 !important;
		border-bottom: 1px dotted #999;
		padding-left: 0 !important;
	    }

	img {
		page-break-inside: avoid;
	    }
}

main {
	padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
	margin-bottom: 0;
  }

@media screen and (min-width: 40em) {
main {
  float: right;
  width: 78%;
  clear: none;
  }
}

.banner {
    position: relative;
    text-align: center;
    /* we don't know yet how tall the banner will be */
    max-height: 20vh; /* Limit to 20% view height*/
    overflow: hidden; /* But chop off any part that extends lower than banner-content */
    }

.banner img {
    display: inline-block;
    /* There is more that can be done yet regarding
    how the image resizes etc. */
    max-width; 200%;
    margin: 0;
}

.banner-content {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-bottom: 6px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

.global-footer {
	margin-top: 1em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	background-color: #ddd;
    clear: both;
    text-align: center;
    }

.title-site {
    margin: 1.5em auto 1em;
    text-align: center;
    width: auto;
    display: block;
    position: relative;
    }

.attribution {
    margin-top: 1.5em;
    font-weight: bold;
}
